/*  add four google font families */
/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Outfit', sans-serif; */
/* font-family: 'Exo 2', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html {
    font-size: 62.5%;
}
